*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.navbar{
    background-image: linear-gradient(to right,#fff,#00BFFF,#201d21);
    padding: 0 !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 50px;
}
.navbar-nav li{
 padding: 0 15px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;

}
.navbar-nav li a:hover{
    
    border-bottom: 3px solid  black;
	transition: padding-bottom 2s ease-in-out,border-color 6s ease !important;

}
.collapse ul{
    margin-left: 150px !important;

}
.fa-bars{
    color: #fff ;
    font-size: 30px !important;

}
.navbar-toggler{
    outline: none !important;
}

#contact{
   background-image: linear-gradient(to right,#0f2a32,#201d21);
    margin: auto;
    width: 87%;
    height:100vh;
}
#apropos{
    background-image: url('images/NVT-Team-Kickoff2022-selfie.jpeg');
    background-size: cover;
    width: 87%;
    margin: auto;
    height:100vh;
}
#apropos,#services{
    height:100vh;
}
#apro{
margin-top: 2px;
}
.form-label{
    color: #fff;
}
#footer{
    margin-top: 1rem;
    background-image: linear-gradient(to right,#0f2a32,#201d21);
    height:auto;
    color: white

}
h5{
    text-align: center;
    font-weight: 600;
    color:#00BFFF;
    text-decoration: underline;
    margin-top: 1rem;
}
h1{
    text-align: center;
    font-weight: 600;
    color:#00BFFF	


}
.col-md-4 img{
    width:100%;
    height:200px;
    margin:auto;
}
.card-title{
    color:#00BFFF;
    font-style: italic;
}
.car{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom:2rem;
}
.car:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.social li{
 display: inline;
 padding:30px;
}
.social li i:hover{
    color:#00BFFF;
    font-size: 2rem;
   }
   .contacter  li:hover{
    color:#00BFFF;
    font-size: 1.5rem;

   }
.col-md-4 li{
    margin-top: 10px;
}
.col-md-4 li i{
    margin-right:6px;
    font-size: 20px;
}
ul{
    list-style-type: none;
}
#apropos img{
    width:300px;
    height:150px;
    margin-top:2px;
}
#accod{
    margin-top:2px;
}
button{
    margin-left:150px
}
.btn-primary{
    background-color:#00BFFF !important;
    color:#fff;
}
.btn-primary:hover{
    background-color:blue !important;
    color:#fff;
}





.slider img {
    max-width: 100%;
    display: none;
}
img.active {
    display: block;
    animation:fade 0.8s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.cont-btn {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0,0,3);
    display: flex;
    justify-content: center;
}

.btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}

.slider img{
margin-top: 1rem;
width:100%;
height:530px;
}


.accodion-element{
	border: 1px solid grey;
}

.accordion-element h1{
    background-color:#00BFFF;
    color:black;
    padding: 10px;
    margin-left:4px;
    border: 1px solid grey;
}

.accordion-content{
	height: 0;
	overflow: hidden;
	margin: 0;
	transition: 2s height;

}

.accordion-content p{
	padding: 30px;
    background-color: white;
    text-align: justify;
}
#btnav{
    background-color: #fff !important;
}